  <footer id="footer" class="footer dark-background">

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © 2024 Jeonbuk National University. All Rights Reserved.
          </div>
          <div>
            This project was developed by Kim Miso and Yun Jungmin as part of the Smart Farming Department.
          </div>
          <div class="credits">
            Email: miso0469@jbnu.ac.kr
          </div>
        </div>
      </div>
    </div>
  </footer>