Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-dht==4.0.6
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
asgiref==3.8.1
backports.zoneinfo==0.2.1
binho-host-adapter==0.1.6
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
contourpy==1.1.1
cryptography==44.0.0
cycler==0.12.1
Django==4.2.16
django-allauth==65.3.0
django-widget-tweaks==1.5.0
fonttools==4.55.1
gunicorn==23.0.0
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
oauthlib==3.2.2
packaging==24.2
pandas==2.0.3
pillow==10.4.0
pycparser==2.22
pyftdi==0.55.4
PyJWT==2.9.0
pyparsing==3.1.4
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pyusb==1.2.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
zipp==3.20.2